pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clj-kondo/.cache/v1/lock
.clj-kondo/.cache/v1/clj/clj-time.coerce.transit.json
.clj-kondo/.cache/v1/clj/clj-time.core.transit.json
.clj-kondo/.cache/v1/clj/clj-time.format.transit.json
.clj-kondo/.cache/v1/clj/clj-time.internal.fn.transit.json
.clj-kondo/.cache/v1/clj/clj-time.local.transit.json
.clj-kondo/.cache/v1/clj/clj-time.periodic.transit.json
.clj-kondo/.cache/v1/clj/clj-time.predicates.transit.json
.clj-kondo/.cache/v1/clj/clj-time.spec.transit.json
.clj-kondo/.cache/v1/clj/clj-time.types.transit.json
.clj-kondo/.cache/v1/clj/clojure.core.protocols.transit.json
.clj-kondo/.cache/v1/clj/clojure.core.reducers.transit.json
.clj-kondo/.cache/v1/clj/clojure.core.server.transit.json
.clj-kondo/.cache/v1/clj/clojure.core.specs.alpha.transit.json
.clj-kondo/.cache/v1/clj/clojure.core.transit.json
.clj-kondo/.cache/v1/clj/clojure.data.transit.json
.clj-kondo/.cache/v1/clj/clojure.datafy.transit.json
.clj-kondo/.cache/v1/clj/clojure.edn.transit.json
.clj-kondo/.cache/v1/clj/clojure.inspector.transit.json
.clj-kondo/.cache/v1/clj/clojure.instant.transit.json
.clj-kondo/.cache/v1/clj/clojure.java.browse-ui.transit.json
.clj-kondo/.cache/v1/clj/clojure.java.browse.transit.json
.clj-kondo/.cache/v1/clj/clojure.java.io.transit.json
.clj-kondo/.cache/v1/clj/clojure.java.javadoc.transit.json
.clj-kondo/.cache/v1/clj/clojure.java.shell.transit.json
.clj-kondo/.cache/v1/clj/clojure.main.transit.json
.clj-kondo/.cache/v1/clj/clojure.math.transit.json
.clj-kondo/.cache/v1/clj/clojure.parallel.transit.json
.clj-kondo/.cache/v1/clj/clojure.pprint.transit.json
.clj-kondo/.cache/v1/clj/clojure.reflect.transit.json
.clj-kondo/.cache/v1/clj/clojure.repl.transit.json
.clj-kondo/.cache/v1/clj/clojure.set.transit.json
.clj-kondo/.cache/v1/clj/clojure.spec.alpha.transit.json
.clj-kondo/.cache/v1/clj/clojure.spec.gen.alpha.transit.json
.clj-kondo/.cache/v1/clj/clojure.spec.test.alpha.transit.json
.clj-kondo/.cache/v1/clj/clojure.stacktrace.transit.json
.clj-kondo/.cache/v1/clj/clojure.string.transit.json
.clj-kondo/.cache/v1/clj/clojure.template.transit.json
.clj-kondo/.cache/v1/clj/clojure.test.junit.transit.json
.clj-kondo/.cache/v1/clj/clojure.test.tap.transit.json
.clj-kondo/.cache/v1/clj/clojure.test.transit.json
.clj-kondo/.cache/v1/clj/clojure.uuid.transit.json
.clj-kondo/.cache/v1/clj/clojure.walk.transit.json
.clj-kondo/.cache/v1/clj/clojure.xml.transit.json
.clj-kondo/.cache/v1/clj/clojure.zip.transit.json
.clj-kondo/.cache/v1/clj/hello-paredit.transit.json
.clj-kondo/.cache/v1/clj/hello-repl.transit.json
.clj-kondo/.cache/v1/clj/hello.transit.json
.clj-kondo/.cache/v1/clj/user.transit.json
.clj-kondo/.cache/v1/clj/welcome-to-clojure.transit.json
.clj-kondo/.cache/v1/cljc/user.transit.json
.lsp/.cache/db.transit.json
.calva/output-window/output.calva-repl
.calva/output-window/output.calva-repl
.calva/output-window/output.calva-repl
.calva/output-window/output.calva-repl
.calva/output-window/output.calva-repl
.calva/output-window/output.calva-repl
